<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
<h1>Welcome to the Dashboard, <%= user.fullName %>!</h1>
<% if (user.roles.includes('ROLE_LIST_VIEW')) { %>
    <h2>List of Books</h2>
    <form onsubmit="submitSearch(event)">
        <input type="text" name="search" placeholder="Search in all fields..." value="<%= searchQuery %>">
        <button type="submit">Search</button>
    </form>
    <table id="booksTable" border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title <a href="?sort_column=title&sort_direction=asc">↑</a> <a href="?sort_column=title&sort_direction=desc">↓</a></th>
            <th>Description <a href="?sort_column=description&sort_direction=asc">↑</a> <a href="?sort_column=description&sort_direction=desc">↓</a></th>
            <th>Integer Attribute <a href="?sort_column=integer_attribute&sort_direction=asc">↑</a> <a href="?sort_column=integer_attribute&sort_direction=desc">↓</a></th>
            <th>Decimal Attribute <a href="?sort_column=decimal_attribute&sort_direction=asc">↑</a> <a href="?sort_column=decimal_attribute&sort_direction=desc">↓</a></th>
            <th>Date <a href="?sort_column=date_attribute&sort_direction=asc">↑</a> <a href="?sort_column=date_attribute&sort_direction=desc">↓</a></th>
            <th>DateTime <a href="?sort_column=datetime_attribute&sort_direction=asc">↑</a> <a href="?sort_column=datetime_attribute&sort_direction=desc">↓</a></th>
            <th>Simple Ref <a href="?sort_column=simple_ref&sort_direction=asc">↑</a> <a href="?sort_column=simple_ref&sort_direction=desc">↓</a></th>
            <th>Hierarchical Ref <a href="?sort_column=hierarchical_ref&sort_direction=asc">↑</a> <a href="?sort_column=hierarchical_ref&sort_direction=desc">↓</a></th>
        </tr>
        </thead>
        <tbody>
        <% books.forEach(book => { %>
            <tr>
                <td><%= book.id %></td>
                <td><%= book.title %></td>
                <td><%= book.description %></td>
                <td><%= book.integer_attribute %></td>
                <td><%= book.decimal_attribute %></td>
                <td><%= book.date_attribute %></td>
                <td><%= book.datetime_attribute %></td>
                <td><%= book.simple_ref %></td>
                <td><%= book.hierarchical_ref %></td>

            </tr>
        <% }) %>
        </tbody>
    </table>
    <div id="pagination">
        <% for(let i = 1; i <= totalPages; i++) { %>
            <a href="/dashboard?page=<%= i %>&sort_column=<%= sort.column %>&sort_direction=<%= sort.direction %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
        <% } %>
    </div>
    <span>Total items: <%= totalItems %></span>
<% } %>
<% if (user.roles.includes('ROLE_ADD')) { %>
    <button onclick="window.location.href='/add_book'">Добавить</button>
<% } %>
<% if (user.roles.includes('ROLE_EDIT')) { %>
    <button onclick="redirectToEditPage()">Изменить</button>
<% } %>
<% if (user.roles.includes('ROLE_DELETE')) { %>
    <button onclick="window.location.href='/delete_books'">Удалить</button>
<% } %>

<script>
    function fetchBooks(page) {
        location.href = `/dashboard?page=${page}`;
    }
    function submitSearch(event) {
        event.preventDefault();
        const searchValue = event.target.elements.search.value;
        const url = new URL(window.location.href);
        url.searchParams.set('search', searchValue);
        url.searchParams.set('page', 1);
        window.location.href = url.toString();
    }
</script>
</body>
</html>
