<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>
<h1>Welcome to the Dashboard, <%= user.fullName %>!</h1>
<% if (user.roles.includes('ROLE_LIST_VIEW')) { %>
    <h2>List of Books</h2>
    <table id="booksTable" border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Integer Attribute</th>
            <th>Decimal Attribute</th>
            <th>Date</th>
            <th>DateTime</th>
            <th>Simple Ref</th>
            <th>Hierarchical Ref</th>
        </tr>
        </thead>
        <tbody>
        <% books.forEach(book => { %>
            <tr>
                <td><%= book.id %></td>
                <td><%= book.title %></td>
                <td><%= book.description %></td>
                <td><%= book.integer_attribute %></td>
                <td><%= book.decimal_attribute %></td>
                <td><%= book.date_attribute %></td>
                <td><%= book.datetime_attribute %></td>
                <td><%= book.simple_ref %></td>
                <td><%= book.hierarchical_ref %></td>

            </tr>
        <% }) %>
        </tbody>
    </table>
    <div id="pagination">
        <% for(let i = 1; i <= totalPages; i++) { %>
            <a href="/dashboard?page=<%= i %>" class="<%= i === currentPage ? 'active' : '' %>"><%= i %></a>
        <% } %>
    </div>
    <span>Total items: <%= totalItems %></span>
<% } %>
<% if (user.roles.includes('ROLE_ADD')) { %>
    <button onclick="redirectToAddPage()">Добавить</button>
<% } %>
<% if (user.roles.includes('ROLE_EDIT')) { %>
    <button onclick="redirectToEditPage()">Изменить</button>
<% } %>
<% if (user.roles.includes('ROLE_DELETE')) { %>
    <button onclick="deleteSelected()">Удалить</button>
<% } %>

<script>
    function fetchBooks(page) {
        location.href = `/dashboard?page=${page}`;
    }
</script>
</body>
</html>
